<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shamim.nstubds">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".SplashScreen"
            android:screenOrientation="sensorPortrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".ShowProfileActivity" />
        <activity
            android:name=".ShowProfileActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".SearchForDonors"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".PostForBlood"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".AboutMe" />
        <activity
            android:name=".TipsForDonors"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".Feedback"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".PostGive"
            android:parentActivityName=".PostForBlood" />
        <activity
            android:name=".PostDesAndAddress"
            android:parentActivityName=".PostGive" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/appid"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_api" />

        <activity
            android:name=".TimeLine"
            android:parentActivityName=".PostForBlood" />

    </application>

</manifest>